# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 23.4 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 13.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
import pymongo
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = pymongo.MongoClient("mongodb+srv://taniaadnashafira:taniaadna@taniaadna.mivhi.mongodb.net/company_db?retryWrites=true&w=majority")
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [ ]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data
additional_employees = [
    {'name': 'Bob', 'department': 'Marketing', 'age': 32, 'salary': 5000},
    {'name': 'Charlie', 'department': 'Sales', 'age': 25, 'salary': 4000},
    {'name': 'David', 'department': 'Finance', 'age': 35, 'salary': 5500}
]
collection.insert_many(additional_employees)
print('Additional data inserted')

# Contoh Update Data
query = {'name': 'Alice'}
new_values = {'$set': {'salary': 4800}}
collection.update_one(query, new_values)
print('Data updated')

# Contoh Delete Data
query = {'name': 'Bob'}
collection.delete_one(query)
print('Data deleted')

Data inserted
Additional data inserted
Data updated
Data deleted

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6721dc240bd0b994cfa3ec13'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4800}
{'_id': ObjectId('6721ddff0bd0b994cfa3ec14'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6721ddff0bd0b994cfa3ec16'), 'name': 'Charlie', 'department': 'IT', 'age': 30, 'salary': 6000}
{'_id': ObjectId('6721df2c0bd0b994cfa3ec17'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6721df750bd0b994cfa3ec18'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6721df760bd0b994cfa3ec1a'), 'name': 'Charlie', 'department': 'Sales', 'age': 25, 'salary': 4000}
{'_id': ObjectId('6721df760bd0b994cfa3ec1b'), 'name': 'David', 'department': 'Finance', 'age': 35, 'salary': 5500}
{'_id': ObjectId('6721dfa70bd0b994cfa3ec1c'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6721dfa70bd0b994cfa3ec1d'), 'name': 'Bob', 'department': 'Marketing', 'age': 32, 'salary': 5000}
{'_id': ObjectId('6721dfa70bd0b994cfa3ec1e'), 'name': 'Charlie', 'department': 'Sales', 'age': 25, 'salary': 4000}
{'_id': ObjectId('6721dfa70bd0b994cfa3ec1f'), 'name': 'David', 'department': 'Finance', 'age': 35, 'salary': 5500}
{'_id': ObjectId('67289e7e420a52f688b7835b'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('67289e80420a52f688b7835c'), 'name': 'Bob', 'department': 'Marketing', 'age': 32, 'salary': 5000}
{'_id': ObjectId('67289e80420a52f688b7835d'), 'name': 'Charlie', 'department': 'Sales', 'age': 25, 'salary': 4000}
{'_id': ObjectId('67289e80420a52f688b7835e'), 'name': 'David', 'department': 'Finance', 'age': 35, 'salary': 5500}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4866.666666666667}
{'_id': 'Sales', 'average_salary': 4000.0}
{'_id': 'IT', 'average_salary': 6000.0}
{'_id': 'Marketing', 'average_salary': 5000.0}

### 4. Latihan Tambahan
- **Latihan 4.1: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).**

In [ ]:
import pymongo
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = pymongo.MongoClient("mongodb+srv://taniaadnashafira:taniaadna@taniaadna.mivhi.mongodb.net/company_db?retryWrites=true&w=majority")
db = client['tania_db']
collection = db['product']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [ ]:
product_collection = db['product']

product_data = [
    {'name': 'Tablet', 'category': 'Electronics', 'price': 5000},
    {'name': 'Handphone', 'category': 'Electronics', 'price': 7000},
    {'name': 'Laptop', 'category': 'Electronics', 'price': 10000},
    {'name': 'Shirt', 'category': 'Clothing', 'price': 2000},
    {'name': 'Jeans', 'category': 'Clothing', 'price': 3000},
    {'name': 'Shoes', 'category': 'Clothing', 'price': 4000},
    {'name': 'Coffee Maker', 'category': 'Appliances', 'price': 1500},
    {'name': 'Blender', 'category': 'Appliances', 'price': 2500},
    {'name': 'Toaster', 'category': 'Appliances', 'price': 1800},
    {'name': 'Book', 'category': 'Books', 'price': 1200},
]
product_collection.insert_many(product_data)
print('Product data inserted')

Product data inserted

In [ ]:
for product in collection.find():
    print(product)

{'_id': ObjectId('6721e94709caa6baa7d51dbb'), 'name': 'Tablet', 'category': 'Electronics', 'price': 5000}
{'_id': ObjectId('6721e94709caa6baa7d51dbc'), 'name': 'Handphone', 'category': 'Electronics', 'price': 7000}
{'_id': ObjectId('6721e94709caa6baa7d51dbd'), 'name': 'Laptop', 'category': 'Electronics', 'price': 10000}
{'_id': ObjectId('6721e94709caa6baa7d51dbe'), 'name': 'Shirt', 'category': 'Clothing', 'price': 2000}
{'_id': ObjectId('6721e94709caa6baa7d51dbf'), 'name': 'Jeans', 'category': 'Clothing', 'price': 3000}
{'_id': ObjectId('6721e94709caa6baa7d51dc0'), 'name': 'Shoes', 'category': 'Clothing', 'price': 4000}
{'_id': ObjectId('6721e94709caa6baa7d51dc1'), 'name': 'Coffee Maker', 'category': 'Appliances', 'price': 1500}
{'_id': ObjectId('6721e94709caa6baa7d51dc2'), 'name': 'Blender', 'category': 'Appliances', 'price': 2500}
{'_id': ObjectId('6721e94709caa6baa7d51dc3'), 'name': 'Toaster', 'category': 'Appliances', 'price': 1800}
{'_id': ObjectId('6721e94709caa6baa7d51dc4'), 'name': 'Book', 'category': 'Books', 'price': 1200}
{'_id': ObjectId('67289e8f420a52f688b78360'), 'name': 'Tablet', 'category': 'Electronics', 'price': 5000}
{'_id': ObjectId('67289e8f420a52f688b78361'), 'name': 'Handphone', 'category': 'Electronics', 'price': 7000}
{'_id': ObjectId('67289e8f420a52f688b78362'), 'name': 'Laptop', 'category': 'Electronics', 'price': 10000}
{'_id': ObjectId('67289e8f420a52f688b78363'), 'name': 'Shirt', 'category': 'Clothing', 'price': 2000}
{'_id': ObjectId('67289e8f420a52f688b78364'), 'name': 'Jeans', 'category': 'Clothing', 'price': 3000}
{'_id': ObjectId('67289e8f420a52f688b78365'), 'name': 'Shoes', 'category': 'Clothing', 'price': 4000}
{'_id': ObjectId('67289e8f420a52f688b78366'), 'name': 'Coffee Maker', 'category': 'Appliances', 'price': 1500}
{'_id': ObjectId('67289e8f420a52f688b78367'), 'name': 'Blender', 'category': 'Appliances', 'price': 2500}
{'_id': ObjectId('67289e8f420a52f688b78368'), 'name': 'Toaster', 'category': 'Appliances', 'price': 1800}
{'_id': ObjectId('67289e8f420a52f688b78369'), 'name': 'Book', 'category': 'Books', 'price': 1200}

**Latihan 4.2: Lakukan query untuk menemukan produk dengan harga di atas rata-rata**

In [ ]:
average_price = product_collection.aggregate([{'$group': {'_id': None, 'avg_price': {'$avg': '$price'}}}]).next()['avg_price']
above_average_products = product_collection.find({'price': {'$gt': average_price}})

for product in above_average_products:
    print(product)

{'_id': ObjectId('6721e94709caa6baa7d51dbb'), 'name': 'Tablet', 'category': 'Electronics', 'price': 5000}
{'_id': ObjectId('6721e94709caa6baa7d51dbc'), 'name': 'Handphone', 'category': 'Electronics', 'price': 7000}
{'_id': ObjectId('6721e94709caa6baa7d51dbd'), 'name': 'Laptop', 'category': 'Electronics', 'price': 10000}
{'_id': ObjectId('6721e94709caa6baa7d51dc0'), 'name': 'Shoes', 'category': 'Clothing', 'price': 4000}
{'_id': ObjectId('67289e8f420a52f688b78360'), 'name': 'Tablet', 'category': 'Electronics', 'price': 5000}
{'_id': ObjectId('67289e8f420a52f688b78361'), 'name': 'Handphone', 'category': 'Electronics', 'price': 7000}
{'_id': ObjectId('67289e8f420a52f688b78362'), 'name': 'Laptop', 'category': 'Electronics', 'price': 10000}
{'_id': ObjectId('67289e8f420a52f688b78365'), 'name': 'Shoes', 'category': 'Clothing', 'price': 4000}

**Latihan 4.3: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.**

In [ ]:
pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]
for result in product_collection.aggregate(pipeline):
    print(result)

{'_id': 'Electronics', 'total_products': 6}
{'_id': 'Books', 'total_products': 2}
{'_id': 'Clothing', 'total_products': 6}
{'_id': 'Appliances', 'total_products': 6}

### 5. Tugas
- **Tugas 1: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.**

In [ ]:
pipeline = [
    {"$sort": {"department": 1, "salary": -1}},
    {"$group": {"_id": "$department", "employees": {"$push": "$$ROOT"}}},
    {"$project": {"_id": 1, "top_employees": {"$slice": ["$employees", 5]}}}
]

for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'IT', 'top_employees': [{'_id': ObjectId('6721ddff0bd0b994cfa3ec16'), 'name': 'Charlie', 'department': 'IT', 'age': 30, 'salary': 6000}]}
{'_id': 'Finance', 'top_employees': [{'_id': ObjectId('6721df760bd0b994cfa3ec1b'), 'name': 'David', 'department': 'Finance', 'age': 35, 'salary': 5500}, {'_id': ObjectId('6721dfa70bd0b994cfa3ec1f'), 'name': 'David', 'department': 'Finance', 'age': 35, 'salary': 5500}, {'_id': ObjectId('67289e80420a52f688b7835e'), 'name': 'David', 'department': 'Finance', 'age': 35, 'salary': 5500}, {'_id': ObjectId('6721dc240bd0b994cfa3ec13'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4800}, {'_id': ObjectId('6721ddff0bd0b994cfa3ec14'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}]}
{'_id': 'Sales', 'top_employees': [{'_id': ObjectId('6721df760bd0b994cfa3ec1a'), 'name': 'Charlie', 'department': 'Sales', 'age': 25, 'salary': 4000}, {'_id': ObjectId('6721dfa70bd0b994cfa3ec1e'), 'name': 'Charlie', 'department': 'Sales', 'age': 25, 'salary': 4000}, {'_id': ObjectId('67289e80420a52f688b7835d'), 'name': 'Charlie', 'department': 'Sales', 'age': 25, 'salary': 4000}]}
{'_id': 'Marketing', 'top_employees': [{'_id': ObjectId('6721dfa70bd0b994cfa3ec1d'), 'name': 'Bob', 'department': 'Marketing', 'age': 32, 'salary': 5000}, {'_id': ObjectId('67289e80420a52f688b7835c'), 'name': 'Bob', 'department': 'Marketing', 'age': 32, 'salary': 5000}]}

**Tugas 2: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.**

In [ ]:
query = {"age": {"$lt": 25}}
result = collection.delete_many(query)
print(f"{result.deleted_count} documents deleted.")

0 documents deleted.

**Tugas 3: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan**

In [ ]:
pipeline = [
    {"$group": {"_id": "$department", "total_salary": {"$sum": "$salary"}, "average_age": {"$avg": "$age"}}}
]

for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'total_salary': 43800, 'average_age': 31.0}
{'_id': 'Sales', 'total_salary': 12000, 'average_age': 25.0}
{'_id': 'IT', 'total_salary': 6000, 'average_age': 30.0}
{'_id': 'Marketing', 'total_salary': 10000, 'average_age': 32.0}